<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> 
        .inputBox .details{
            font-size: 30px;
          

        }
        input{
            padding: 10px 0;
        }
        </style>
</head>
<body style="text-align: center; background-color: #1abc9c;">
    <h1>Login</h1>
    <div class="container">
        <div class="title"></div>
        <form action="#">
            <div class="userDetails">
                <div class="inputBox">
                    <span class="details">Email</span>
                    <input type="Email" name="email" placeholder="Enter Your Email" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter Your Password">
                </div>
                <br></br>
                <div>
                <input style="padding: 10px 30px; background-color:#2ecc71" type="submit" name="submit" value="Login">
                </div>
            </div>
        </form>

    </div>
</body>
</html>