<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> 
        .inputBox{
                text-align: center;
            }
        .inputBox .details{
            font-size: 30px;  
            
        }
        input{
            padding: 10px 0;
        }
                nav a{
            margin: 80px;
            padding: 10px 50px;
            background-color: #2ecc71;
        }
        .navbartop{
            background-color: rgb(99, 109, 106);
            margin-bottom: 80px;
            width: 100%;
            line-height: 20vh;
        }
        </style>
</head>
<body style=" text-align: center; background-color: #1abc9c;">
    <div class="navbartop">
        <nav>
        <a href="register"> Register </a>
       <a href="login"> Login </a>
    </nav>
    </div>
    <div class="container">

        <form action="/register" method="POST">
            <div class="userDetails">
                <div class="inputBox">
                    <span class="details">First Name</span>
                    <input type="text" name="firstname" placeholder="Enter first name" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Last Name</span>
                    <input type="text" name="lastname" placeholder="Enter last name">
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Email</span>
                    <input type="text" name="email" placeholder="Enter Your Name" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Password</span>
                    <input type="Password" name="password" placeholder="Enter Your Password" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Confirm Password</span>
                    <input type="password" name="confirmpassword" placeholder="Enter Your Password" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Phone No</span>
                    <input type="text" name="phoneno" placeholder="Enter Phone No" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Date of Birth</span>
                    <input type="text" name="DoB" placeholder="DD/MM/YEAR" required>
                </div>
                <br></br>
                <div class="inputBox">
                    <span class="details">Upload Your photo</span>
                    <input type="text" name="photo" placeholder="upload Your Photo" required>
                </div>
                <br></br>
                <div>
                <input style="padding: 10px 30px; background-color:#2ecc71" type="submit" name="submit" value="Sign Up">
                </div>
            </div>
        </form>

    </div>
</body>
</html>